@import "../colors.scss";

.GameBoardCell {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: $cell-color-neutral;
}

p {
    margin: 0;
    font-weight: bold;
    user-select: none;
}

.selected {
    background-color: $cell-color-in-path;
}

.highlighted {
    background-color: $cell-color-highlighted;
}

.in-solution {
    background-color: $cell-color-in-solution;
}

.GameBoardCell {
    transition: background-color 0.2s;
}
